#basicExampleNav{position: absolute;right: 20px;}
a.nav-link.waves-effect.waves-light {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 6px 20px;
    font-size: 16px;
    color: #363F5A !important;
    font-weight: 500;
    cursor: pointer;
    box-shadow: none;
}

.signicon{margin-right: 5px;}
.navbar-nav .nav-item>.nav-link:hover {
    color: #387DFF !important;
}
.navbar{background: #f1f1f1;}
.nav-item.active>.nav-link{background-color: rgba(255, 255, 255, 0) !important;}
.signinbtn{
    box-shadow: 0 3px 16px 0 rgba(56,125,255,.5);
    color: #fff;
    padding: 6px 18px;
    border-radius: 100px;
    text-transform: uppercase;
    margin-top: 5px;
    font-weight: 400;
}
.rf-btn.orange {
    background: linear-gradient(to bottom,#ffa330,#ff9346,#ff8559,#fb7a6a,#f07379);
}
.rf-btn {
    padding: 0 45px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    border-radius: 38px;
    color: #FFF;
    font-size: 18px;
    cursor: pointer;
    transition: all .2s linear;
    font-family: Montserrat,'Open Sans',sans-serif;
    text-transform: uppercase;
    border: none;
    font-weight: 400;
    background-repeat: no-repeat!important;
}
.renderforest-rights{color: #ffffff; text-align: center;}
.signinbtn:hover{background-image: linear-gradient(-179deg,#6EA0FF 5%,#518DFF 97%); color: #FFF;}
a.navbar-brand img {
    width: 70px;
    height: auto !important;
}
a.navbar-brand{padding: 0px;}
.navbar-nav li .dropdown-menu {
    border: none;
    margin-right: 46px;
    position: absolute;
    right: 0;
    left: -100px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.alert {
    border-left: none;
    position: fixed;
    top: 55px;
    width: -webkit-fill-available;
    margin-bottom: 0;
    z-index: 999;
    background: linear-gradient(to right, #1f61a8, #2a9eb0);
}
.alert p {
    display: -webkit-inline-box;
    font-size: medium;
    margin-bottom: 0;
}
.jumbotron a {
    font-size: medium;
    color: #FFF;
    background: #3ab54a/*#70a0d6*/;
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 0px 3px 3px #000;
    margin-left: 15px;
}
.jumbotron {
    box-shadow: none;
    padding: .7rem 1rem;
    border-radius: inherit;
    color: #FFF;
    text-align: center;
    border: none;
    z-index: 9999;
    width:100%;
}
.alert-dismissible .close {
    -webkit-animation: fadeinleft 600ms ease-in-out;
    -moz-animation: fadeinleft 600ms ease-in-out;
    -o-animation: fadeinleft 600ms ease-in-out;
    -ms-animation: fadeinleft 600ms ease-in-out;
    animation: fadeinleft 600ms ease-in-out;
}
.alert-dismissible .close {
    position: absolute;
    top: -5px;
    right: 0;
    padding: .75rem 1.25rem;
    color: inherit;
    font-size: 27px;
    opacity: 1;
}
.close:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    color: #000;
    text-decoration: none;
        opacity: .75;
}
.slidetitles {
    margin: 20px auto 48px;
}
a.btn-floating.waves-effect.waves-light.smll {
    background: #4285f4;
    top: 26%;
}
#video-carousel-example2 a.btn-floating.waves-effect.waves-light.smll {
    background: #4285f4;
    top: 40%;
}
.carousel-multi-item .carousel-indicators li {
    height: 1rem;
    width: 1rem;
    margin-bottom: 0rem;
}
.carousel-multi-item .carousel-indicators .active {
    height: 1rem;
    width: 1rem;
}
.card {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
    border-bottom-left-radius: calc(1rem - 1px);
    border-bottom-right-radius: calc(1rem - 1px);
}
.card-img-top {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
    border-bottom-left-radius: calc(1rem - 1px);
    border-bottom-right-radius: calc(1rem - 1px);
}
.layout-footer {
    color: #ffffff;
    background-color: #387DFF;
    text-align: center;
    padding: 0 0 50px 0;
    display: flex;
    flex-direction: column;
}
#main-footer a{color: white !important;}
.layout-footer .footer-subscription {
    padding: 50px 0;
}
.layout-footer .footer-subscription.rf-blog-light-bg {
    background-color: #5690ff;
}
.layout-footer .footer-subscription .rf-section-name {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 1vh;
    padding: 0 30px;
}

.layout-footer .footer-subscription .descr {
    font-size: 16px;
    padding: 0 20px;
    text-align: center;
}

.layout-footer .footer-subscription .line.green {
    margin: 15px auto 0 auto;
    height: 6px !important;
    min-height: 6px !important;
    max-height: 6px;
    border: none !important;
}

.layout-footer .footer-subscription .input-areas {
    margin: 30px 0;
    cursor: text;
}

.layout-footer .footer-subscription .input-areas #subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-footer .footer-subscription .input-areas .footer-input {
    border: 1px solid #F5FAFE;
    height: 40px;
    padding: 0 20px;
    background-color: #FFFFFF;
    color: #363F5A;
    text-align: left;
    -webkit-appearance: none;
    margin: 0 20px 0 0;
    cursor: text;
    box-sizing: border-box;
    border-radius: 35px;
    font-size: 14px;
    -webkit-appearance: none;
}

.layout-footer .footer-subscription .input-areas .footer-input::placeholder {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
}

.layout-footer .footer-subscription .input-areas .footer-input::-webkit-input-placeholder {
    color: #7683A8;
    font-size: 14px;
}

.layout-footer .footer-subscription .input-areas .footer-input:focus {
    outline: none;
}

.layout-footer .footer-subscription .input-areas #subscriberName {
    width: 200px;
}

.layout-footer .footer-subscription .input-areas #subscriberEmail {
    width: 270px;
    padding: 0 41px 0 20px;
}

.layout-footer .footer-subscription .input-areas .subscribe {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    line-height: 1;
    padding: 0 35px;
    font-weight: 400;
    transform: translate(-60px);
    box-shadow: none;
}

.layout-footer .footer-subscription .input-areas .subscribe:hover {
    opacity: 1;
}

.layout-footer .footer-links .footer-links-item-wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1000px;
    margin: 30px auto 0 auto;
}

.layout-footer .footer-links .footer-links-item-wrapper .footer-links-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.layout-footer .footer-links .footer-links-item-wrapper .footer-links-item .footer-link {
    color: #FFFFFF;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    padding: 10px 0;
    transition: all 0.1s linear;
}

.layout-footer .footer-links .footer-links-item-wrapper .footer-links-item .footer-link:hover {
    color: #CFE0FF;
}

.layout-footer .footer-links .footer-links-item-wrapper .footer-links-item-mobile {
    display: none;
}

.layout-footer .social-media .social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.layout-footer .social-media .social-media-wrap .footer-logo {
    width: 180px;
    height: 45px;
}

.layout-footer .social-media .social-media-wrap .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layout-footer .social-media .social-media-wrap .social-icons .social-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
}

.layout-footer .social-media .social-media-wrap .social-icons .social-icon-link .social-icon {
    width: 23px;
}
#main-footer{    background: #000;
    color: #fff;
    font-size: 1em;
    line-height: 24px;
    padding: 75px 90px;
    width: 100%;
    transition: padding .25s ease-in-out;}
#main-footer .row {
    max-width: 1425px;
    margin: 0 auto;
}
.footer__social {
    margin: 20px 0 20px -8px;
}
#main-footer .footer-social i {
    font-size: 20px;
    vertical-align: middle;
}
#main-footer .footer-social {
    margin: 0 5px;
    transition: opacity .25s ease-in-out;
}
#main-footer .one-fourths h4 {
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
    text-transform: uppercase;
}
#main-footer a {
    transition: opacity .25s ease-in-out;
    display: inline-block;
}
#main-footer .one-fourths ul.links {
    list-style: none;
    margin-bottom: 0;
}

.fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
}
.whitetext{color: #ffffff;}
.bluetext{color: #387DFF;}
.modal-content {
    border-radius: 5px !important;
}
.modal-dialog.modal-notify.modal-warning .modal-header {
    background-color: #397eff;
}
.modal-logo {
    text-align: center;
    margin: auto;
}
.modal-logo img {
    width: 80px;
}
.modal-title {
    font-size: 21px;
    font-weight: bold;
    color: black;
}
label {
    margin-left: 0px;
    color: black;
    font-weight: 400;
    font-size: 15px;
}
a.labelrem {
    margin-right: 15px;
    font-size: 15px;
    font-weight: 400;
}
.text-center {
    text-align: center!important;
}
.sign-btnmodal {
    padding: 0;
    border: gainsboro;
    width: 75%;
    margin-bottom: 5px;
}
.sign-btnmodal img {
    width: 100%;
}
.modalfotter {
    font-size: 15px;
    font-weight: 400;
}
.modal-dialog {
    top: 10%;
}
/* scroll button start*/
#back2Top {
    width: 50px;
    line-height: 50px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 15px;
    background-image: linear-gradient(to bottom,#58f1ff,#39e3ff,#24d4ff,#2dc4ff,#47b3ff);
    color: #fff;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    border-radius: 100px;
    -webkit-box-shadow: 0 0px 11px 0 rgba(0,0,0,.18), 0 0px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 0px 11px 0 rgba(0,0,0,.18), 0 0px 15px 0 rgba(0,0,0,.15);
}
#back2Top:hover {
    background-image: linear-gradient(to bottom,#6df3ff,#5ee7ff,#57dbff,#5bceff,#67c0ff);
    color: #fff;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 2px 0px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}
/* scroll button start*/
@keyframes fade-img {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade-img {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fade-img {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fade-img {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-img {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 2880px) and (min-width: 768px){
    .controls-top {
        display: none;
    }
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .controls-top {
        display: block;
    }
    .smll {
    display: none !important;
    }
    #back2Top {bottom: 30px;}
    .support{margin-top: 13px;}
    #main-footer{padding: 50px 30px;}
}

@media only screen and (max-width: 992px) {
    .layout-footer .footer-subscription .input-areas #subscribe {
        flex-direction: column;
    }
    .layout-footer .footer-subscription .input-areas #subscribe .footer-input {
        margin: 20px 0 0 0;
        width: 300px;
    }
    .layout-footer .footer-subscription .input-areas #subscribe .subscribe {
        margin: 20px 0 0 0;
        width: 300px;
        transform: none;
    }
    .layout-footer .footer-links .footer-links-item-wrapper {
        flex-direction: column;
    }
    .layout-footer .footer-links .footer-links-item-wrapper .footer-links-item {
        align-items: center;
    }
    .layout-footer .social-media .social-media-wrap {
        flex-direction: column;
    }
    .layout-footer .social-media .social-media-wrap .footer-logo,
    .layout-footer .social-media .social-media-wrap .renderforest-rights,
    .layout-footer .social-media .social-media-wrap .social-icons {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 768px) {
    .layout-footer .footer-links .footer-links-item-wrapper .footer-links-item {
        display: none;
    }
    .layout-footer .footer-links .footer-links-item-wrapper .footer-links-item-mobile {
        display: flex !important;
    }
     .navbar-nav li .dropdown-menu {left: 10px;}
    #main-footer .one-fourths h4 {margin-left: 0px !important;}
    #main-footer .one-fourths ul{margin-left: -35px !important;}
}
@media only screen and (max-width: 575px) {
     #basicExampleNav {
    position: initial;
    right: 15px;
    }
}
@media only screen and (max-width: 880px) and (min-width: 576px) {
    a.nav-link.waves-effect.waves-light {padding: 6px 8px; font-size: 12px;}
}
