
.jumbotron {box-shadow: none; padding: 1rem 1rem; background-color: /*#397eff*/#1f61a8; border-radius: inherit; color: #FFF; text-align: center;}
.alert p{ display: -webkit-inline-box; font-size: large; margin-bottom: 0;}
.alert{border-left: none; /*filter: blur(.7px);*/ background: linear-gradient(to right, #1f61a8, #2a9eb0);}
.close:hover {-webkit-transform: scale(1.3); transform: scale(1.3);}
.alert-dismissible .close {
    right: 10px;
    top: 14px; 
    padding: 0px 1.25rem;
    -webkit-animation: fadeinleft 600ms ease-in-out;
      -moz-animation: fadeinleft 600ms ease-in-out;
      -o-animation: fadeinleft 600ms ease-in-out;
      -ms-animation: fadeinleft 600ms ease-in-out;
      animation: fadeinleft 600ms ease-in-out;
  }
  #signup-page label.form-check-label {color: #79757d;}
  .py-4{padding-bottom: 0rem!important;}
  .genderss{margin-top: 20px;}
  .line {width: 50px;}
  .mtop-70{margin-top: 60px !important;}
 a.nav-link.waves-effect.waves-light {font-weight: 400 !important;} 
 .signinbtn {font-size: 14px !important;}
  footer .jumbotron p {margin-bottom: auto;}
.jumbotron a{font-size: large; color: #FFF; background: #3ab54a/*#70a0d6*/; padding: 6px 15px; border-radius: 5px; box-shadow: 0px 3px 3px #000; margin-left: 15px;}
a:hover {text-decoration: none;}
.md-pills .nav-link {color: #fff; background: #4c74be; /*background: linear-gradient(40deg, #9fc1ff, #0059ff) !important;*/}
.md-pills .nav-link:hover {background: #4c74be;}
.md-pills {width: 100%;}
.logo img{width: 125px;}
.pay img {border-radius: 50px; width: 50px;}
.m-50{    padding: 32px 15px !important;}
.video-fluid{width: -webkit-fill-available;height: auto; object-fit: cover;}
.hero-bg-top{position: absolute; left: 0px; top: 56px;}
.hero-bg-bottom{margin-top: -424px; float: right;}
.hero-bg-section{background: #377dff; margin-top: 0px;}
.section-blue{background: #377dff;  padding-bottom: 15px;}
.title h3 {font-weight: bold; color: #0400ea; background: -webkit-linear-gradient(60deg,#0400EA 40%,#D739FF 60%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 40px;}
.carousel-multi-item .carousel-indicators li {height: 1rem; width: 1rem; margin-bottom: 0rem;}
.carousel-multi-item .carousel-indicators .active {height: 1rem; width: 1rem;}
.jumbotron-2 {margin-bottom: 0rem;}
a.btn-floating.waves-effect.waves-light.smll {
    background: #4285f4;
    position: absolute;
    top: 40%;
}
a.nav-link {
    padding: 14px;
    font-weight: 400;
    border-radius: 6px !important;
    font-size: 21px;
    /*-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);*/
}
.nav-item:hover a.nav-link {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    cursor: pointer;
}
.nav-justified .nav-item {-ms-flex-preferred-size: 0; flex-basis: inherit;}
.card-img-top {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
    border-bottom-left-radius: calc(1rem - 1px);
    border-bottom-right-radius: calc(1rem - 1px);
}
.card {
     border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
    border-bottom-left-radius: calc(1rem - 1px);
    border-bottom-right-radius: calc(1rem - 1px);
}
hr {
    margin-top: 0rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 3px solid rgb(57, 126, 255);
    width: 13%;
}
.hr-two{width: 7%;}
.small2{right: 15px;}

/* Modals popup start */
.modal-logo {
    text-align: center;
    margin: auto;
}
.modal-logo img {
   width: 80px;
}
.modal-dialog.modal-notify.modal-warning .modal-header {
    background-color: #397eff;
}
.modal-content {
    border-radius: 5px !important;
}
.modal-dialog .modal-content .modal-header {
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-dialog {
    top: 10%;
}
.text-color{color: #fff;}
.form-check-input[type=checkbox].filled-in:not(:checked)+label:after, label.btn input[type=checkbox].filled-in:not(:checked)+label:after {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #ffffff;
    top: 0;
    z-index: 0;
}
.form-control:focus {
    box-shadow: 0px 0px 4px 1px rgba(0,123,255,.25);
}
.modal-title{
    font-size: 21px;
    font-weight: bold; 
    color: black;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 12px;
}
.modalContentforSignup{
    position: relative!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-direction: column!important;
    flex-direction: column!important;
    width: 100%!important;
    pointer-events: auto!important;
    background-color: #fff!important;
    background-clip: padding-box!important;
    border: 1px solid rgba(0,0,0,.2)!important;
    border-radius: .3rem!important;
    outline: 0!important;
}
label {
    margin-left: 0px;
    color: black;
    font-weight: 400;
    font-size: 15px;
    
}
button.btn.waves-effect.btn-primary {
    margin-bottom: 15px;
    padding: 1rem;
    letter-spacing: .5px;
    
}
.submitButtonSignUp{
    background-color: #4285f4!important;
    padding: 1remimportant;
    letter-spacing: 1pximportant;
}
a.labelrem{
    margin-right: 15px; 
    font-size: 15px; 
    font-weight: 400;
    
}
body{
    background: url(../img/bd-img2.png);
    background-size: contain;
    
}
.modalfotter{
    font-size: 15px;
    font-weight: 400;
    
}
.float-right.pay {
    background-color: #2892ae;
   /* background-color: hsl(0,0%,20%);*/
    border-radius: 5px;
}
.float-right.pay a{
    color: #fff;
    display: inline-block;
    padding: 16px 16px 16px 16px;
    padding-bottom: 12px;
    font-weight: 400;
    border-radius: 5px;
}
.float-right.pay a i{margin-right: 10px;}
.float-right.pay a:hover{
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    cursor: pointer;
}
/* Modals popup start */

/* sign up page start */
	.meter {
    	margin-bottom: 2em;
	}
	.meter b {
    background-color: #d4d4d4;
    border-radius: 1em;
    float: left;
    height: 5px;
    margin-right: 4%;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    width: 21%;
	}
	.form-check {padding-left: 0;}
	.box-heading {
    font-size: 1.42857em;
    line-height: 1.575em;
    font-weight: normal;
	}
	.box-right-form {
    padding: 25px;
    background: #fff;
    height: fit-content;
	}
	.body-signup{background: #f3f3f1;}
	.signup_form .form-control{border: 1px solid #dddddd; border-radius: 3px; box-shadow: 0 2px 5px rgba(0,0,0,0.1) inset;}
	.create-accountes {
    padding: 6px !important;
    font-size: 15px !important;
    width: 100%;
    border-radius: 5px;
      margin: 0;
      box-shadow: 0 2px 0 rgb(0, 67, 191);
	}
	.signup-fist-col h2{margin-bottom: 20px;}
	.signup-fist-col p strong{margin-bottom: 15px;font-weight: bold;}
	.signup-fist-col p {color: black;margin-bottom: 20px;}
	.signup-fist-col p a {padding: 6px 15px !important;}
	label.form-check-label {font-size: 13px; color:#fff;}
	input.form-check-input.filled-in.inputProductLink {background: none; border: none; border-bottom: 2px solid #427dfe; margin: 0; margin-left: 10px !important; padding: 5px 10px;}
	small {color: #bababa;}
	.signbtn{margin-bottom: 0px !important;}
	.footer2 {
    border-top: 1px solid #dddddd;
    clear: both;
    color: #bababa;
    padding: 1.6em 0;
    text-align: center;
    border-bottom: 1px solid #dddddd;
    margin: 44px 9%;
	}
	.footer2>a {
    display: inline;
    margin-right: 1em;
    color: #bababa;
	}
	.box-right-form .change-email{font-size: 15px;color: black;}
    .sign-btnmodal{
    padding: 0;
    border: gainsboro;
    width: 75%;
    margin-bottom: 5px;
    }
    .sign-btnmodal img{width: 100%;}
/* sign up page end */
	.pricing-card .price .number {font-size: 2rem; text-align: center;}
    .pricing-card .price .number:after {display: none;}
    .pricing-card .price .number:before {margin-top: 0rem;}
    .pricing-card .striped li p select {display: block!important; margin: auto;}
    select.mdb-select.md-form {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ced4da;
    outline: 0;
    height: 38px;
    line-height: 2.9rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 .94rem 0;
    padding: 0;
    display: block;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    z-index: 2;
    }
   .pricing-card .striped {height: 760px;}
   .pricebtn-both{position: absolute; bottom: 30px; left: 35%;}
/* get  page end */

/* create video page start */
    .create-pro a h1{    font-weight: bold;
    color: #fff;
    background: #71a0d6;
    text-align: center;
    border-radius: 50px;
    width: 50px;
    height: auto;
}
.create-pro hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.58);
    width: 100%;
}
.create-pro  .btn {padding: 5px 50px;}
.form-check-input[type=checkbox].filled-in:checked+label:after, label.btn input[type=checkbox].filled-in:checked+label:after {
    border: 2px solid #FFF;
    background-color: #397eff;
}
.create-pro label.form-check-label {
    font-size: 15px;
}
.dis-inl{display: -webkit-inline-box;}
.create-page-img{border: 1px solid rgba(0,0,0,.1); border-radius: 100px;-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.16), 0 1px 20px 0 rgba(0,0,0,.12);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.16), 0 1px 20px 0 rgba(0,0,0,.12);}
.create-page-img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.1);
    -webkit-transition: width 2s;
    transition: width 5s;
    transition-duration: 2s;
    transition-delay: 1s;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.font-weight{font-weight: 400;}
/* create video page end */

/* Select video & Thumbnail Style page start */
    .gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; 
}
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; 
}
.gallery .animation {
   display: inline-block;
}
.pics.animation a img {
    border-radius: calc(1rem - 1px);
}
.d-flex .btns{
    border: 2px solid #000!important;
    background-color: transparent!important;
    color: #000!important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
}
.d-flex .btns:hover{
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    outline: 0;
}
.btn:hover{
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15) !important;
    outline: 0;
}
.view .video-fluid{
    width: -webkit-fill-available;
    height: 360px;
    object-fit: cover;
}
button.close2 {
    background: none;
    border: none;
}
button.btn.btn-primary.btn-sm.create-accountes.signbtn.waves-effect.waves-light {
    margin-bottom: 8px !important;
}
.hero-bg-section2{background: #377dff; height: 100px; margin-top: 120px;}
.btn.waves-effectss{background: #606060 !important;
    border-radius: 0;
    border: 0;
    color: #e9e9e9;
    cursor: pointer;
    display: inline-block;
    font-family: karla,arial,helvetica,'sans-serif';
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    padding: 8px 20px;
    text-transform: uppercase;
    transition: color .25s ease-in-out,background .25s ease-in-out,border .25s ease-in-out;
    text-decoration: none;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.btn.waves-effectss:hover{background: #2b2b2b !important;}
.card-body{background-image: url(https://d14pr3cu5atb0x.cloudfront.net/images/site/VideoSection_background_topleft-pink-e2afbb3fb3.svg);
    background-size: 293px 238px; background-repeat: no-repeat;}
.left-blue-blob {
    background-image: url(../img/StepbyStep_left_blue-blob-0c21efd999.svg);
    background-size: 75px 326px;
    width: 77px;
    height: 330px;
    float: left;
    background-repeat: no-repeat;
    top: 568px;
    position: sticky;}
.right-red-blob-two{    background-image: url(https://d14pr3cu5atb0x.cloudfront.net/images/site/StepbyStep_right_red-blob-0664286c15.svg);
    background-size: 69px 296px; width: 69px; height: 300px;  float: right; background-repeat: no-repeat;}    
.selectvideo{font-weight: bold;font-weight: bold; color: #0400ea; background: -webkit-linear-gradient(60deg,#0400EA 40%,#D739FF 60%);
    -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 40px;}
.Selectbtn button {width: 250px;}
.icon-size{font-size: 40px;text-align: center;}
.icon-size i{width: 50px;}
div#video-carousel-example2 {
    border: 1px solid #dcd8d8;
    padding: 15px;
}
h3{margin-bottom: 2rem;}
.inp-fil-section{margin-top: 60px;}
.inp-fil {-webkit-box-shadow: 1px 1px 15px 0px rgba(0,0,0,.16), 0 2px 15px 0 rgba(0,0,0,.12);
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,.16), 0 2px 15px 0 rgba(0,0,0,.12);
}
.inp-fil:hover {box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15) !important;}
.file-field input.file-path {font-weight: 500;}
/* Select video & Thumbnail Style page end */
/* faq  Style page start */
.card-bg {padding-left: 0; padding-right: 0;}
.font-w{font-weight: 400 !important;}
.accordion.md-accordion.accordion-5 .card .card-header {
    background: linear-gradient(to right, #2930b4, #2a9eb0);
}
.card-header a i{padding: 17px 21px !important;color: #2a9eb0 !important; background: #fff;}
.card-header .secundi{font-size: 2rem; background: none !important; color: #fff !important;}
.card-header a h4 {display: -webkit-inline-box; width: 84%;}
.body-faq{background: url(../img/faq-bg.png); background-size: contain;}
.card {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.rgba-black-strong, .rgba-black-strong:after {
    background-color: rgba(0, 0, 0, 0);
}
.card-body.rgba-black-light.white-text.z-depth-1 p {
    color: #000;
}
.card-body.rgba-black-light.white-text.z-depth-1 ul li {
    color: #000;
}
.rgba-black-light, .rgba-black-light:after {
    background-color: rgba(0, 0, 0, 0);
}

/*New*/
.inp-fil.btn-primary.btn-sm.float-left {
    width: 66px;
    height: 55px;
}	
.inp-fil.btn-primary.btn-sm.float-left span.icon-size i {
    margin-top: 3px;
}
.accordion.md-accordion.accordion-5 .card .card-header {border-radius: 5px;}
#main-footer a:hover {
    text-decoration: underline;
}
.submitButtonSignUp i.fas.fa-shopping-cart {
    font-size: 1rem !important;
}
.submitButtonSignUp.waves-effect.waves-light {
    width: -webkit-fill-available;
    font-size: 1rem;
    background: black !important;
}
.submitButtonSignUp.waves-effect.waves-light:hover {
    background: #4285f4 !important;
}
/*New*/

/*div#accordionEx5 .card:nth-child(2) {
    width: 49%;
    float: left;
    margin-right: 2%;
}
div#accordionEx5 .card:nth-child(3) {
    width: 49%;
}
div#accordionEx5 .card:nth-child(5) {
    width: 49%;
    float: left;
    margin-right: 2%;
}
div#accordionEx5 .card:nth-child(6) {
    width: 49%;
}*/
/* faq  Style page end */

h3 {text-transform: uppercase;}
@media (max-width: 767px) {
    .card-header a h4 {width: 65%;}
    .mtop-70 {margin-top: 0px !important;}
}
@media (max-width: 500px) {
    .card-header a h4 {width: 60%;}
}
@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
.card-header a h4 {width: 55%;}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
.card-header a h4 {width: 39%; font-size: 9px !important;}
}
@media (max-width: 300px) {
.card-header a h4 {width: 35%; font-size: 8px !important;}
}

@media screen and (max-width: 767px) and (min-width: 200px) {
    input.form-check-input.filled-in.inputProductLink {border-bottom: 2px solid #ffffff;}
    form.md-form {margin: 0 !important;}
    .inp-fil-section {margin-bottom: 0 !important;}
    .left-blue-blob {display: none;}
	.right-red-blob-two {display: none;}
	.card-body.rgba-black-light.white-text.z-depth-1 p {font-size: 13px;}
	.controls-top{display: block;}
	.smll{display: none !important;}
    #video-carousel-example2 .smll{display: block !important;}
	.m-50 {padding: 15px 15px !important;}
	.alert p{margin-bottom: 10px;font-size: 9px;}
    .jumbotron a {font-size: 9px; padding: 5px 6px; margin-left: 2px;}
    .alert-dismissible .close {right: 0px;padding: 0px .25rem;}
	.box-right-form {margin-left: 15px; margin-right: 15px;}
	.footer2 {margin: 23px 5%;}
	.signup-fist-col p:nth-child(4) {line-height: 30px;}
    .dis-inl {display: contents;}
    .dis-inl .col-md-2 {width: 48%;}
    .create-video-small{margin-top: -75px;}
    .inp-fil-section {margin-top: 0;}
    .pricing-card .striped {height: auto;}
    .pricebtn-both {position: inherit;}
    .faq-title{font-size: 25px;}
    .card-header a i {margin-right: 15px !important;}
    .card-header a h4 {font-size: 12px;}
    .hero-bg-top {width: -webkit-fill-available;}
    .title h3 {font-size: 25px;}
    .selectvideo {font-size: 25px; position: relative;}
    h3 {margin-bottom: 0rem;}
    .m-d{margin: auto; display: block;}
    .hero-bg-section2{height: 15px;}
    .genderss{margin-top: 0px;}
    .smallnone{display: none;}
}
@media screen and (max-width: 2880px) and (min-width: 768px) {
	.controls-top{display: none;}
	.smll{display: block;}
}